
ul.sociallinks-tabs {
  list-style-position: inside;
  clear: both;
  padding: 0;
  border-bottom: 1px solid #a9a9a9;
  margin: 0 !important;
  float: left;
  width: 100%;
}

ul.sociallinks-tabs li {
  list-style-image: none;
  list-style-type: none;
  background-image: none;
  margin: 5px 10px 5px 5px;
  padding: 0;
  float: left;
  
}

ul.sociallinks-tabs li.ui-tabs-selected {
  border-bottom: 2px solid #000;
}


