
ul.sociallinks-tabs {
  list-style-position: inside;
  float: right;
  clear: both;
  padding: 0;
  border-left: 1px solid #a9a9a9;
  margin: 0 !important;
  width: 80px;
}

ul.sociallinks-tabs li {
  list-style-image: none;
  list-style-type: none;
  background-image: none;
  margin: 0;
  padding: 0 0 0 2px;
}

ul.sociallinks-tabs li.ui-tabs-selected {
  border-left: 2px solid #000;
  padding-left: 0;
}

ul.sociallinks-tabs li a {
  padding: 5px;
  display: block;
}

div.sociallinks-content {
  padding-right: 80px;
}


